@use './fonts.scss';
// @use '../../styles/_variables.scss' as *;



body {
	margin: 0;
	min-width: 320px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #23272F;
	color: #fff;
}

* {
	box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', serif;
	color: #fff;
}

a {
	color: inherit;
	transition: 0.15s;
	&:hover {
		color: #61dafb;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 900px;
}

.btn {
	margin: 0 12px 8px;
	padding: 8px;
	background-color: #384152;
	border: 1px solid #4b5563;
	border-radius: 6px;
	color: #fff;
	font-size: 0.85rem;
	cursor: pointer;
	transition: all 0.2s ease;

	&:hover {
		background-color: #4b5563;
		border-color: #61dafb;
	}

	&.active {
		font-weight: 700;
		color: #1a1d23;
		background-color: #61dafb;
		// cursor: default;
		// pointer-events: none;
	}

	&:last-of-type {
		margin-bottom: 12px;
	}
}